 # Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/

# Ignore Google client secret file

# Revoked the exposed secret key permanently and removed it from the code!!
client_secret.json
